
<div>

  <h1>Basic Pipes</h1>

  <p>
    These are some pipes that are included in Angular - usually in Common Module.
  </p>

</div>

<div class="grid">

  <div class="col-4">
    <p-card header="uppercase"
            subheader= "The text in this card should use uppercase pipe">
      {{ nameLower }}
      <br>
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="lowercase"
            subheader= "The text in this card should use lowercase pipe">
      {{ nameUpper }}
      <br>
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="titlecase"
            subheader= "The text in this card should use titlecase pipe">
      {{ nameComplete }}
      <br>
      {{ nameComplete | titlecase }}
    </p-card>
  </div>



</div>
