<h1>Ivan is testing this new app</h1>

<p-card [header]= "name | titlecase" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

  <p>Hello there! Thanks for read this!!</p>
    <p>
      I'm Ivan Gaona. I was born in Chihuahua but I moved to Puebla when I was 10.
    </p>
    <p>
      I'm almost 30 now, but I have learned a lot of things that I would like to share
      with you.
    </p>
    <p>
      Honestly I hope some of these advises really could help you!!
    </p>


</p-card>




<br>


<button pButton
  type="button"
  label="Show Name"
  class="p-button-danger"
  (click)="showName()"
  icon="pi pi-apple"
  iconPos="right">
</button>
