<div>

  <h1>Not Common Pipes</h1>
  <p>
    These are pipes that are not very used and are included in Angular.
  </p>
  <p>
    The pipes are: i18nselectpipe & i18pluralpipe
  </p>

</div>


<div class="grid">

  <div class="col md-6 sm-9">

    <p-fieldset legend="i18nSelectPipe" [toggleable]="true">

      <p>
        Hola {{ name }}, nos es un placer {{ genre | i18nSelect:invitationMap }}.
        Queremos decirle que estamos orgullosos de invitarte a nuestro
        proximo evento de JavaScript.
      </p>

      <button pButton
      type="button"
      label="Change Client"
      (click)="changeClient()">
      </button>

    </p-fieldset>

  </div>

  <div class="col md-6 sm-9">

    <p-fieldset legend="i18PluralPipe" [toggleable]="true">

      <p>
        {{ clients.length | i18nPlural:clientsMap }}
      </p>

      <button pButton
      (click)="deleteClient()"
      type="button"
      class="p-button-danger"
      label="Remove Client" ></button>

    </p-fieldset>

  </div>

</div>
